@media only screen and (min-width: 37.5em) {


    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .forecast-container {
        display: block;
        padding: 15px;
    }

    .forecast-container table {
        width: 100%;
        text-align: center;
        border: 2px solid #00BFFF;
        border-spacing: 0;
        height: 150px;
    }

    .forecast-container th {
        background-color: #00BFFF;
        color: white;
        font-size: 1.5rem;
    }

    .forecast-container .day {
        background-color: #3D5299;
        color: white;
    }

    .weather-container,
    .weather-icon-container {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .todays-weather,
    footer aside {
        display: flex;
    }

    .history-container {
        margin-bottom: 25px;
    }
    .history-container img {
        border-radius: 25px;
        height: 200px;
        width: auto;
        float: right;
        margin-left: 5px;
        margin-bottom: 5px;
        position: relative;
        top: -5px;
    }


    footer aside .address,
    .phone-email {
        flex: 1;
    }

}
